/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "variables" as *;

:root {
  --global-bg-color: #{$bg-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$text-primary};
  --global-text-color-light: #{$text-muted};
  --global-theme-color: #{$accent-color};
  --global-hover-color: #{$accent-hover};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #{$text-muted};
  --global-distill-app-color: #{$text-muted};
  --global-divider-color: #{$border-light};
  --global-card-bg-color: #{$white-color};
  --global-card-border: #{$border-light};
  --global-radius: #{$radius};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$bg-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$text-dark};
  --global-text-color-light: #{$text-dark};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$light-cyan-color};
  --global-footer-bg-color: #{$border-dark};
  --global-footer-text-color: #{$text-dark};
  --global-footer-link-color: #{$text-dark};
  --global-distill-app-color: #{$text-dark};
  --global-divider-color: #{$border-dark};
  --global-card-bg-color: #{$grey-900};
  --global-card-border: #{$border-dark};
  --global-radius: #{$radius};
  --global-icon-color: #{$text-dark};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
