<!DOCTYPE html>

<html>
  <head>
    {%- include head.html %}

    {% include scripts/jquery.html %}
    {% include scripts/mathjax.html %}
    <!-- Distill js -->
    <script src="{{ '/assets/js/distillpub/template.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/transforms.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/overrides.js' | relative_url }}"></script>
    {% if page._styles %}
    <!-- Page/Post style -->
    <style type="text/css">
      {{ page._styles }}
    </style>
    {%- endif %}

    <style>
      h1, h2, h3 {
        color: #363535 !important;
        font-family: Arial, sans-serif !important;
      }
    </style>
  </head>



  <body class="{%- if site.navbar_fixed -%}fixed-top-nav{%- endif -%} {%- unless site.footer_fixed -%}sticky-bottom-footer{%- endunless -%}">

    <!-- Header -->

    <!-- Content -->
    <div class="post distill">

      <div class="highlight-clean text-center" style="padding-bottom: 0;">
          <div class="container">
            <div class="row justify-content-center">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="row justify-content-center">
              {% for author in page.authors %}
              <div class="col-md-3">
                <h5><a href="{{ author.authorURL }}"><span style="color: #0079FF; font-weight: bold;">{{ author.name }}</a></h5>
                <h6>{{ author.affiliations.name }}</h6>
              </div>
              {% endfor %}
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12">
                <a class="btn btn-primary" role="button" href="https://arxiv.org/abs/2305.19693">Paper (arXiv, 11.8 MB)</a>
                <a class="btn btn-light" role="button" href="https://github.com/gabrielraya/symmetry_breaking_diffusion_models">GitHub</a>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div id="figure1">
                  <img class="img-fluid" src="{{ site.baseurl }}/assets/img/ssdm/main_image_hq.png" alt="Figure 1">
                  <figcaption class="figure-caption"><b>Figure 1:</b> Symmetry breaking in a one-dimensional problem (a) with two data points (-1,1) and on (b) CelebA64. Figures on top show the potential at different time points.</figcaption>
                </div>
              </div>
            </div>
          </div>
        </div>



      <d-article>
        {% if page.toc -%}
        <d-contents>
          <nav class="l-text figcaption">
          <h3>Contents</h3>
            {% for section in page.toc -%}
            <div><a href="#{{ section.name | slugify }}">{{ section.name }}</a></div>
            {% if section.subsections -%}
            <ul>
              {% for subsection in section.subsections -%}
              <li><a href="#{{ subsection.name | slugify }}">{{ subsection.name }}</a></li>
              {% endfor %}
            </ul>
            {%- endif -%}
            {%- endfor %}
          </nav>
        </d-contents>
        {%- endif %}

        {{ content }}
      </d-article>

      <d-appendix>
        <d-footnote-list></d-footnote-list>
        <d-citation-list></d-citation-list>
      </d-appendix>

    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}"></d-bibliography>

    {% include scripts/bootstrap.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
